PORT=5000
MONGO_URI=mongodb://localhost:27017/lafiya_ai
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# AI
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here

# Firebase Cloud Messaging
FCM_PROJECT_ID=111326074922442268332
FCM_PRIVATE_KEY=2834ab2a36dea773663ce18d7358204fe12a0ae5    
FCM_CLIENT_EMAIL=firebase-adminsdk-fbsvc@lafiya-ai.iam.gserviceaccount.com

# Cloudinary (Health Records)
CLOUDINARY_CLOUD_NAME=ddnnbeqti
CLOUDINARY_API_KEY=162732959445434
CLOUDINARY_API_SECRET=TRVdUc-oc6ByW0vcF-W9b_s99VA

NODE_ENV=development
